<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppix</title>
    <script src="https://kit.fontawesome.com/b7e2b3e376.js" crossorigin="anonymous"></script>
 
     <style> 
    body {
        margin: 0;
        padding: 0;
    }
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #253f55; 
        padding-top: 20px;
        border-right: solid rgba(0, 0, 0, 0.422) 1px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
    .header{
        display: flex;
        gap: 1139px;
        background-color: #253f55;
        color: white;
        width: 1536px;
        margin-top: -20px;
        padding: 10px 0px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }  
    .header ul{
        display: flex;
        gap: 34px;
        margin-top: 2px;
        list-style: none;
        flex-direction: row;
    } 

    .logo{
        font-size: 27px;
        margin-top: 9px;
        cursor: pointer;
    }
    .logo i{
        margin-left: 20px;
        padding: 0px 7px;
    } 

    .fa-solid{
        margin-top: 10px;
        cursor: pointer;
    }
    .sidenav a {
        padding: 8px -1px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #ffffff; 
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
         text-decoration: none;
    }
    .sidenav .dropdown-btn {
        padding: 15px 8px 18px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #ffffffb9;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }
    .sidenav .dropdown {
        padding: 8px 8px 18px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #ffffffc7;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }
    .dropdown-container {
        display: none;
        border: none;
        /* background-color: #164358; */
        padding-left: 8px;
    }
    .sidenav .dropdown-btn:hover {
        background-color: #00ecd8;
        color: white;
    }
    .sidenav .dropdown:hover {
        background-color: #00ecd8;
        color: white;
    }
    .dropdown-container a:hover{
         background-color: #00ecd8;
         color: white;
    }
    .dropdown-container a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #FFFFFF;
        display: block;
        transition: 0.3s;
    }

    .dash{
        margin-left: 280px;
        position: absolute;
        margin-top: 21px;
        font-size: 20px;
        font-weight: 600;
    }

    #userImage{
        width: 30px;
        border-radius: 50%;
    }

    .profile{
        position: relative;
        display: flex;
        gap: 5px;
        margin-top: 3px;

    }
    
    #welcomeMessage{
        margin-top: 5px;
    }

    .profile_dropdown{
        display: none;
        position: absolute;
        left: -43px;
        margin-top: 30px;
        padding: 15px 70px;
        background-color: rgb(35 70 99);
        border-radius: 7px;
    } 

    .profile_dropdown a{
        display: flex;
        gap: 6px;
        padding: 6px 0px;
        margin-left: -58px;
        margin-bottom: 6px;
        width: 100%;
        /* transition: display 0.3s ease; */
    }

    .profile_dropdown a i{
        font-size: 13px;
        margin-top: 4px;}

    .spans:hover{
        background-color: rgb(80, 241, 187);
    }

    .profile_dropdown a:hover{
        background-color: #1bc98f;
        border-radius: 5px;
        width: 120px;
    }

    .profile:hover .profile_dropdown,
        .profile_dropdown:hover {
            display: block; 
    }

    .fa-solid{
        font: 5px;
    }

    .logOut{
        background-color: #13ad7a;
        width: 45px;
        padding: 13px 70px;
        border-radius: 9px;
        margin-left: 26px;
        bottom: 43px;
        position: absolute;   
    }

    .logOut:hover{
        background-color: #1fd196;
    } 
    .shopix{ 
        display: none;
        margin-left: 790px;
        width: 50%;
        position: absolute;
        margin-top: 46px;
    }

    .black{
        font-size: 164px;
    }
    .shopix h2{
        color: #00000017;
        font-size: 35px;
        margin-top: 8px;
        margin-left: 10px;
    }  
</style>
</head>
<body>
    <div class="sidenav">
        <div class="header">
            <a href="/shoppix-dashboard">
                <div class="logo">
                    <i class="fa-brands fa-shopify" style="color: #ffffff;"></i>Shoppix
                </div>
            </a>
            <ul class="navbar">
                <li><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></li>
                <li><i class="fa-solid fa-bell" style="color: #ffffff;"></i></li>
                <li class="profile" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
                    <img id="userImage" src="https://i.pinimg.com/736x/32/07/c0/3207c0ae27d51f916eb4ee901e1faacc.jpg">
                    <div id="welcomeMessage"></div>
                     <div class="profile_dropdown" id="profile_dropdown" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
                        <a href="#"><i class="fa-solid fa-user" style="color: #ffffff;"></i>Profile</a>
                        <a href="#"><i class="fa-solid fa-gear" style="color: #ffffff;"></i>Settings</a>
                       <a style="color: red;" href="/"><i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>

        <span class="dropdown dropdown-btn" id="dashboard"><i class="fa-solid fa-cannabis"></i>&nbsp;Dashboard</span>
        <span class="dropdown-btn"><i class="fa-brands fa-slack" style="color: #ffffff;"></i>&nbsp; Catalog</span>
        <div class="dropdown-container">
            <a href="#" id="allProductsLink">All products</a>
            <a href="#" id="addProductLink">Add Product</a>
            <a href="#" id="categoriesLink">Categories</a>
         </div>
        <span class="dropdown-btn"><i class="fa-regular fa-compass" style="color: #ffffff;"></i>&nbsp;Orders </span>
        <div class="dropdown-container">
            <a href="#" id="allOrdersLink">All Orders</a>
        </div> 
       
        <span class="dropdown-btn"><i class="fa-solid fa-users" style="color: #ffffff;"></i>&nbsp;customers</span>
        <div class="dropdown-container">
            <a href="#" id="customers">Customers</a>
        </div>
        <span class="dropdown-btn"><i class="fa-solid fa-globe" style="color: #ffffff;"></i>&nbsp;Online store</span>
        <div class="dropdown-container">
            <a href="#" id="shoppix">Shoppix</a>
        </div>
         
        <a href="/"> <div class="logOut">logout</div></a>
    </div>

    <div id="mainContentContainer"></div>
 
    <script src="/index.js"></script>
</body>
</html>