<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://kit.fontawesome.com/b7e2b3e376.js" crossorigin="anonymous"></script>
 
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="login">
        <div class="shoppix">
            <div class="shoppix_login">
                <div class="shoppix2">
                    <div class="shoppix_content">
                        <i class="fa-brands fa-shopify" style="color: #ffffff;"></i>
                        <h3>Shoppix</h3>
                        <p>Where Trends Meet Savings.</p>
                    </div>
                </div>
                <div class="container">
                    <h3>Login</h3>
                    <form id="loginForm">
                        <label for="identifier"></label>
                        <input type="text" id="identifier" placeholder="Email/Phone number" name="identifier" required>
                        <br>
                        <label for="password"></label>
                        <input type="password" id="password" placeholder="Password" name="password" required>

                        <span class="forgotpassword">Forgot Password?</span>
                        <br>
                        <button type="button" onclick="submitForm()">Login</button>
                    </form>
                    <p>Don't have an account? <a href="/register">Register here</a>.</p>
                </div>
            </div>
        </div> 
        <div class="container_background">          
         </div>
    </div>

 <script src="/public/login.js"></script>
 
</body>
</html>