<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <script src="https://kit.fontawesome.com/b7e2b3e376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/order.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.1/html2pdf.bundle.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>
<body>
    <div id="dashboardContainer"></div>
    <div class="order-main">
        
        <div id="orderDetailsContainer">
            <div class="order_heading"> <h3>order details</h3></div>
             <table  >
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="productRows"> </tbody>
            </table> <hr>

            <div class="table-inner">
                <span>
                    <input type="checkbox">Notify To Customer
                </span>
                <span id="payment-status">
                    <select id="paymentStatusDropdown">
                        <option value="0">Pending</option>
                        <option value="1">paid</option>
                    </select>
                </span>
                
                <span id="order-status">
                    <select class="action-dropdown" id="orderActionDropdown">
                        <option value="1">Processing</option>
                        <option value="2">Pending</option>
                        <option value="3">Delivered</option>
                        <option value="4">Cancelled</option>
                    </select>
                </span>
            </div>
            
            <div class="save">
                <span class="one" id="print-invoice">Print invoice</span>
                <span class="one button">Save changes</span>
            </div>

        </div>
        <div class="data"> 
            <div id="statusContainer">
                <h4>Status</h4>
                <p>Payment Status : <span id="paymentStatus"></span></p>
                <p>Order Status : <span id="orderStatus"></span></p>
            </div>

            <div id="paymentContainer">
                <h4>payment</h4>
                <p>Payment Id : <span id="paymentId"></span></p>
                <p>Payment Method : <span id="transaction"></span></p>
            </div>

            <div id="address">
                <h4>Shipping details</h4>
                <p>name : <span id="name"></span></p>
                <p>email : <span id="email"></span></p>
                 <p>Address : <span id="addressdata"></span></p>
                <p>Pin code : <span id="pin"></span></p>
            </div>
            
        </div>
    </div>

    <div id="successModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <p id="successMessage">Saved successful!</p>
        </div>
    </div>
    

    <script>
        fetch('/shoppix-dashboard')
            .then(response => response.text())
            .then(data => {
                document.getElementById('dashboardContainer').innerHTML = data;
            })
            .catch(error => console.error('Error fetching dashboard:', error));
    </script>

    <script src="/public/index.js"></script>
 <script src="/public/order.js"></script>
</body>
</html>
