<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    <script src="https://kit.fontawesome.com/b7e2b3e376.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tZ1a9eq51d9eJ1sBkfbg9Sf8aKUB8fI1pJz0M=" crossorigin="anonymous"></script>
 
    <link rel="stylesheet" href="/styles/productform.css">
</head>
<body>

    <div id="dashboardContainer"></div>

    <div class="main_form">
        <h2>Product Form</h2>
        <form id="productForm" action="/api/addproduct" method="post" enctype="multipart/form-data">
            <label for="name"></label>
            <input type="text" id="name" placeholder="Name" name="name" required><br>

            <label for="brandname"></label>
            <input type="text" id="brandname" placeholder="Brand Name" name="brandname"><br>

            <label for="description"></label>
            <textarea id="description" name="description" placeholder="Description" required></textarea><br>

            <label class="images" for="images">Images</label>
            <div id="imageUploadContainer">
                <div id="selectedImagesContainer"></div>
                <input type="file" id="images" name="images" accept="image/*" multiple style="display: none;" onchange="handleImageUpload()">
                <label for="images" id="imageUploadLabel">+</label>
            </div><br>

            <div class="flex">
                <label class="form-row" for="category"> </label>
                <select id="category" name="category" onchange="updateTypeDropdown()" required></select>
            
                <label class="form-row" for="type"> </label>
                <select id="type" name="type" required></select><br>
            </div>
            <div class="flex2">
                <select id="size" class="selectpicker" multiple>
                    <option value="" disabled selected>size</option>
                </select>

                <label for="price"></label>
                <input type="number" id="price" name="price" placeholder="Cost" required>
            </div>

            <button type="button" onclick="validateAndSubmit()">Submit</button>
        </form>
    </div>
 
    <script>
        fetch('/shoppix-dashboard')
            .then(response => response.text())
            .then(data => {
                document.getElementById('dashboardContainer').innerHTML = data;
            })
            .catch(error => console.error('Error fetching dashboard:', error));
    </script>

    <script src="/public/index.js"></script>

    <script src="/product.script.js"></script>
  
</body>
</html>