<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <script src="https://kit.fontawesome.com/b7e2b3e376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-V4sojszDDckk5SDqHjhx9ZS1wsP2FWQxjiqj4r+TFS3DPL5GYeLoA5gri0R+xcIVF3+/6fSSzQwI9j7JsHy/lQ==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJxIO9iW7aR2Y" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/styles/products.css">  
</head>
<body>
    <div id="dashboardContainer"></div>
    
    <div id="mainContent"> </div>

    <div class="product-card" data-product-id="1" data-product-name="Product 1" data-brand-name="Brand 1" data-price="10.99" data-description="Description 1">
        <button onclick="handleEditButtonClick(1)">Edit</button>
    </div>

    <div id="editModal" class="edit-modal">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <div id="editModalContent" class="edit-modal-content"></div>
    </div>

    <script>
        fetch('/shoppix-dashboard')
            .then(response => response.text())
            .then(data => {
                document.getElementById('dashboardContainer').innerHTML = data;
            })
            .catch(error => console.error('Error fetching dashboard:', error));
    </script>

    <script src="/public/index.js"></script>
    <script src="/public/products.js"></script>
</body>
</html>