<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shoppix</title>
  <script src="https://kit.fontawesome.com/b7e2b3e376.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" ></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

 <link rel="stylesheet" href="/styles/shoppix.css">
</head>
<body>

    <nav>
        <div class="navbar">
            <a href="#" class="logo"><i class="fa-brands fa-shopify" style="color: #ffffff;"></i>Shoppix</a>
            <div class="search-bar">
                <div class="category">
                    <ul>
                        <li>MEN</li>
                        <li>WOMEN</li>
                        <li>KIDS</li>
                        <li>HOME</li>
                    </ul>
                </div>
                <div class="search">
                    <input type="text" class="search-input" placeholder="Search products, brands and more">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="#" class="nav-link"><i class="fa-solid fa-user" style="color: #ffffff;"></i>&nbsp;profile</a></li>
                    <li><a href="#" class="nav-link"><i class="fa-solid fa-heart" style="color: #ffffff;"></i>&nbsp;whishlist</a></li>
                    <li><a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>&nbsp;cart</a></li>
                 </ul> 
            </div>
        </div>
    </nav>

    <div class="main"> 
        <span class="privarrow"><i class="fa-solid fa-chevron-left fa-2xl"></i></span>
        <span class="nextarrow"><i class="fa-solid fa-chevron-right fa-2xl"></i></span>
        <div class="container2 ">
            
            <div>
                <img src="/images/a4661453502ad350628b006c4f070391.jpg"/>
                <div class="ontext3">
                    <h4  ></h4>
                    <h2  ></h2>
                    <button><a href="#"><h3></h3></a></button>
                </div> 
            </div>
            <div>
                <img src="/images/katherine-langford-photoshoot-beautiful-actress-3440x1440-1175.jpg"/>
                <div class="ontext3">
                    <h4  ></h4>
                    <h2  ></h2>
                    <button><a href="#"><h3></h3></a></button>
                </div> 
            </div>
            <div>
                <img src="https://static.vecteezy.com/system/resources/previews/003/805/189/non_2x/paper-art-online-shopping-on-smart-phone-buy-sell-on-mobile-technology-marketing-illustration-for-cover-page-design-on-website-free-vector.jpg"/>
                <div class="ontext3">
                    <h4 ></h4>
                    <h2 ></h2>
                    <button><a href="#"><h3></h3></a></button>
                </div>
            </div>
            <!-- <div> 
                <img src="/images/a8e0bf4dd76c81eae8fa06720e5a0661.jpg"/>
                <div class="ontext3">
                    <h4 ></h4>
                    <h2 >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, vero.</h2>
                    <button ><a href="#"><h3></h3></a></button>
                </div> 
            </div> -->
        </div>
    </div>

    <div class="brandings">
         <div class="brands">
          <div class="brand"><img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2021/03/client-logo-3.png" alt=""></div>
          <div class="brand"><img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2022/08/client-logo-5.png" alt=""></div>
          <div class="brand"><img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2021/03/client-logo-4.png" alt=""></div>
          <div class="brand"> <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2021/03/client-logo-2.png" alt=""></div>
          <div class="brand">Gucci</div>
          <div class="brand">Zara</div>
          <div class="brand">Hermès</div>
          <div class="brand">Chanel</div>
         </div>
    </div>

    <div class="hover-cards">
        <h4>summer collection</h4>
        <h2>Popular T-Shirts</h2>
        <div class="hover-cards-innercontainer">
            <div class="card-container">
                <img class="hover" src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-09-a-400x488.jpg">
                <div>
                    <img class="img2" src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-01-c-400x488.jpg" alt="">
                </div>
                 <div class="card-content">
                    <h6>MEN</h6>
                    <h5>Brotherhood T-shirt</h5>
                    <span>Upto 30% off</span>
                </div>
            </div>
            <div class="card-container">
                <img src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-06-a-400x488.jpg">
                <div>
                    <img class="img2" src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-01-d-400x488.jpg " alt="">
                </div>
                <div class="card-content">
                     <h6>WOMEN</h6>
                     <h5>Brotherhood T-shirt</h5>
                     <span>Upto 30% off</span>
                </div>
            </div>
            <div class="card-container">
                <img src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-10-a-400x488.jpg">
                <div>
                    <img class="img2" src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-01-d-400x488.jpg " alt="">
                </div>
                <div class="card-content">
                     <h6>MEN</h6>
                     <h5>Brotherhood T-shirt</h5>
                     <span>Upto 30% off</span>
                </div>
            </div>
            <div class="card-container">
                <img src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-08-a-400x488.jpg">
                <div>
                    <img class="img2" src="https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-001-b-400x488.jpg " alt="">
                </div>
                <div class="card-content">
                    <h6>WOMEN</h6>
                    <h5>Brotherhood T-shirt</h5>
                    <span>Upto 30% off</span>
                </div>
            </div>
            <div>
            </div> 
        </div>
    </div>  

    <div class="footer">
        <div class="container">
            <div class="one">
                <p><i class="fa-brands fa-shopify" style="color: #ffffff;"></i>SHOPPIX</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, corporis.</p>
                 <ul>
                     <li class="whatsapp"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                     <li><a href="https://www.facebook.com/ZoroTheBestSwordsMan/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                     <li><a href="https://twitter.com/imroronoazoro?lang=en" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                     <li><a href="https://www.instagram.com/zoro/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                 </ul>
            </div>
            
            <div class="info">
                 <h2 id="slide-heading">support</h2>
                 <h2 id="slide-heading0">support</h2>
                 <ul id="slide">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li>
                 </ul>
            </div> 

            <div class="info">
                <h2 id="slide-heading2">Shop</h2>
                <h2 id="slide-heading6">Shop</h2>
                <ul id="slide2">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Pets</a></li>
                </ul>
           </div> 
           
           <div class="contact-info"> 
            <h2 id="slide-heading3">Connect</h2>
            <h2 id="slide-heading13">Connect</h2>
            <ul class="in" id="slide3">
                <li ><a href="#">Twitter</a></li>
                <li ><a href="#">Whatsapp</a></li>
                <li ><a href="#">FB</a></li> 
                <li ><a href="#">Insta</a></li> 
            </ul>
           </div> 
        
        </div>
            <div class="copyright">
                <p> cpoyright &copy; 2023 Website All Rights Reserved</p>
            </div>
        </div> 
    
<script src="/public/shoppix.js"></script>

</body>
</html>
