    #mainContent h2{
        margin-left: 286px;
        margin-top: 112px;
   }

    .category-box {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 10px;
    }

    .category-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        margin-left: -79px;
    }

    .category-table th, .category-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .category-table th {
        background-color: #f2f2f2;
    }

    .category-table img {
        max-width: 100%;  
        height: auto;  
    }

    h2 {
        color: #333;
    }

    p {
        margin: 0;
    } 

    .category-table, .types-table {
        width: 79%;
        border-collapse: collapse;
        margin-top: 27px;
        margin-left: 291px;
    }

    .category-table th, .category-table td, .types-table th, .types-table td{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        border-left: none;
        border-right: none;
    }

    .category-table th:first-child,
    .category-table td:first-child {
        border-left: 1px solid #ddd;
    }

    .category-table th:last-child,
    .category-table td:last-child {
        border-right: 1px solid #ddd;
    }

    .category-table th {
        background-color: #f2f2f2;
    }

    .category-table tr:last-child td {
        border-bottom: 1px solid #ddd;
    }



    .types-table th:first-child,
    .types-table td:first-child {
        border-left: 1px solid #ddd;
    }

    .types-table th:last-child,
    .types-table td:last-child {
        border-right: 1px solid #ddd;
    }

    .types-table th {
        background-color: #f2f2f2;
    }

    .types-table tr:last-child td {
        border-bottom: 1px solid #ddd;
    }

        /* Publish button */

    .fas.fa-search:hover{
        color: rgb(25, 215, 123);
    }

    .fas.fa-edit:hover{
        color: rgb(25, 205, 215);
    }

    .fas.fa-trash-alt:hover{
        color: rgb(216, 19, 19);
    } 
        
    .switch {
        position: relative;
        display: inline-block;
        width: 53px;
        height: 23px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 21px;
        top: 2px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #4CAF50;  
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .category-table {
        display: none;
    }

    .category-table-visible .category-table {
        display: table;
    }



    .edit-modal {
        position: fixed;
        top: 0;
        right: -330px; 
        height: 100%;
        width: 250px;  
        background-color: #f1f1f1;
        overflow-x: hidden;
        transition: 0.5s; 
        padding-top: 60px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

     .edit-modal-content {
        padding: 16px;
    }

    #editmodel{
        display: none;
    }

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    } 

    .message-container {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        display: none;
        z-index: 2;
    }

     .edit-modal {
         z-index: 1;
    }



    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 397px;
        top: -109px;
        width: 50%;
        height: 42%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 32%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }