#mainContent{
    margin-left: 279px;
    width: 81%;
    margin-top: 97px;
}
.order-box {
width: 96%;
border: 1px solid #ccc;
margin-bottom: 20px;
padding: 10px;
margin-left: 0px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex{
display: flex;
flex-direction: row; 
width: 200px;
margin-left: -138px;
}

.user-info{
margin: 0 64px;
width: 100px;
margin: 0 218px -5px 72px;
}

.address-info{
margin: 0 100px;
}

.flex p{
margin: 0 64px;
}

.order-info p {
margin: 0 113px;
margin-bottom: 10px;
width: 200px;
}

.order-table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

.order-table th, .order-table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.order-table th {
background-color: #f2f2f2;
}

.product-image {
width: 50px; 
height: 50px; 
}

.order-info {
display: flex;
flex-direction: column;
}

.user-info, .address-info, .payment-info {
display: flex;
flex-direction: row;
}

.order-table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

.order-table th, .order-table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.order-table th {
background-color: #f2f2f2;
}


/* catogery */

.category-box {
border: 1px solid #ddd;
margin-bottom: 20px;
padding: 10px;
}

.category-table {
 border-collapse: collapse;
margin-top: 10px;
}

.category-table th, .category-table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.category-table th {
background-color: #f2f2f2;
}

.category-table img {
max-width: 100%;  
height: auto;  
}

h2 {
color: #333;
}

p {
margin: 0;
} 

.category-table, .types-table {
width: 90%;
border-collapse: collapse;
margin-top: 10px;
margin-left: 65px;
}

.category-table th, .category-table td, .types-table th, .types-table td{
border: 1px solid #ddd;
padding: 8px;
text-align: left;
border-left: none;
border-right: none;
}

.category-table th:first-child,
.category-table td:first-child {
border-left: 1px solid #ddd;
}

.category-table th:last-child,
.category-table td:last-child {
border-right: 1px solid #ddd;
}

.category-table th {
background-color: #f2f2f2;
}

.category-table tr:last-child td {
border-bottom: 1px solid #ddd;
}



.types-table th:first-child,
.types-table td:first-child {
border-left: 1px solid #ddd;
}

.types-table th:last-child,
.types-table td:last-child {
border-right: 1px solid #ddd;
}

.types-table th {
background-color: #f2f2f2;
}

.types-table tr:last-child td {
border-bottom: 1px solid #ddd;
}