.main_form{
    width: 400px;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    border-radius: 7px;
    margin-left: 638px;
    margin-top: 101px;
}

input,select,textarea {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flex{
    display: flex;
    width: 419px;
    gap: 10px;
    margin-left: -11px;
}

.flex2{
    display: flex;
    width: 394px;
    height: 71px;
    gap: 10px;
    margin-left: 1px;
} 

#imageUploadContainer {
    height: 59px;
    display: flex;
    align-items: center;
}

#selectedImagesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

#selectedImagesContainer img {
    width: 100px; 
    height: 100px; 
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
}

#imageUploadLabel {
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 5px;
}

.images{
    margin-left: -342px;
} 

button{
    background-color: rgb(66, 221, 170);
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
} 

button:hover{
    background-color: rgb(94, 253, 200);

}